apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: skillnest
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  type: NodePort