name: Frontend CI
on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: skillnest/frontend
  EKS_CLUSTER: gitops-eks
jobs:
  quality-check:
    name: Check code quality
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'
      
      - name: Install depencies
        run: npm ci 
       
      - name: Run Linter
        run: npm run lint

      - name: Run Build
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist/
          retention-days: 1
       
#  docker-deploy:
#    name: Build and push Docker image
#    runs-on: ubuntu-latest
#    needs: quality-check
#    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up Docker buildx
#        uses: docker/setup-buildx-action@v3
#
#      - name: Login to Dockerhub
#        uses: docker/login-action@v3
#        with:
#          username: ${{secrets.DOCKER_USERNAME}}
#          password: ${{secrets.DOCKER_PASSWORD}}
#
#      - name: Generate sha
#        id: vars
#        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
#
#      - name: Build and push to Docker
#        uses: docker/build-push-action@v5
#        with:
#          context: ./frontend
#          file: ./frontend/Dockerfile
#          push: true
#          tags: |
#            thaodinh426/skillnest-fe:latest
#            thaodinh426/skillnest-fe:${{ steps.vars.outputs.sha_short }}
#          cache-from: type=gha
#          cache-to: type=gha,mode=max
  deploy:
    needs: quality-check
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          role-to-assume: arn:aws:iam::911893329503:role/skillnest-frontend-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Push to S3
        run: aws s3 sync ./frontend/dist/ s3://skillnest-frontend-tdinh --delete